<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
<!-- 	<a href="{{site.baseurl}}/"><img class="badge" src="{{site.baseurl}}/assets/img/badge_1.png" alt="CH"></a>
 -->
	{% if page.url == "/" %}
		<a class="active" href="/">Home</a>
	{% else %}
		<a href="/">Home</a>
	{% endif %}

	{% if page.url == "/projects" %}
		<a class="active" href="/projects">Projects</a>
	{% else %}
		<a href="/projects">Projects</a>
	{% endif %}

	{% if page.url == "/blog" %}
		<a class="active" href="/blog">Blog</a>
	{% else %}
		<a href="/blog">Blog</a>
	{% endif %}

	<a href="/assets/docs/resume.pdf">Resume</a>

<!-- 	{% for node in site.pages %}
		{% unless node.nav_exclude %}
		    {% if page.url == node.url %}
		    	{% if node.title == "Hashem Elezabi" %}
		    		<a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">Home</a>
		    	{% else %}
		      		<a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{{node.title}}</a>
		      	{% endif %}
		    {% else %}
		      <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
		    {% endif %}
	    {% endunless %}
  	{% endfor %} -->
	</nav>
</header>