---
layout: archive
---

<p><img style="width: 336px; height: 252px; float: right; margin: 10px" src="assets/images/yosemite.jpg" />Hello! I'm an undergraduate student at Stanford University majoring in Computer Science. I'm interested in algorithms, machine learning, and computer systems.<br><br>My biggest project yet was working on a <a href="https://github.com/stanford-futuredata/FAST">system</a> for detecting small earthquakes via efficient time series similarity search with locality-sensitive hashing, under the guidance of <a href="https://kexinrong.github.io">Kexin Rong</a> and <a href="http://www.bailis.org/">Prof. Peter Bailis</a> in the <a href="http://futuredata.stanford.edu">Future Data Systems</a> lab. You can learn more about <a href="/projects">projects</a> I've worked on or check out my <a href="/blog">blog</a>.<br style="clear: both;" /></p>

{{ content }}